
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	font-family: 'Montserrat-Black', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: default;
}	
h1{
	 font-family: 'Montserrat-Black, sans-serif';  
	 font-size: 2.7rem; 
	  line-height: 1.5; 
	  font-weight: 900;
	  color: #EDE4E0;
	  padding-bottom: 2%;
}
/* title starts here */
#title{
	background-image: linear-gradient(to left,  #ff6653 , #fe1c74);	
	text-align: left;
}
@media screen and (max-width: 1028px){
	#title{
		text-align: center;
	}
	#title img{
		width: 60%;
		transform: rotate(0);
		position: static;
	}
}
.animation {
	cursor: pointer;
	position: relative;
	padding: 10px 20px;
	/* background: white; */
	font-size: 28px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 1s;
  }
  .animation:after, .animation:before {
	content: " ";
	width: 10px;
	height: 10px;
	position: absolute;
	border: 0px solid #fff;
	transition: all 1s;
  }
  .animation:after {
	top: -1px;
	left: -1px;
	border-top: 0.2rem solid #ff6155;
	border-left: 0.2rem solid #ff6155;
  }
  .animation:before {
	bottom: -1px;
	right: -1px;
	border-bottom: 0.2rem solid #ff6155;
	border-right: 0.2rem solid #ff6155;
  }
  .animation:hover {
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
  }
  .animation:hover:before, .animation:hover:after {
	width: 110%;
	height: 110%;
  }
  
  .data-container {
	background: #ffebee;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }

.logo{
	width: 3%;
	height: 2%;
}
.my-container a{
	text-decoration: none;
}
.my-container{
	position: relative;
	padding: 3% 15% 7%;
}
.spacer{
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no repeat;
	background-position: center;
	background-size: cover;

}
.flip{
	transform: rotate(180deg);
}
.custom-shape-divider-top-1665734735 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1665734735 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 122px;
    transform: rotateY(180deg);
} 

/* .custom-shape-divider-top-1665734735 .shape-fill {
	fill: #FF577F; 
	fill: #F2789F; 
	fill: #fe3568;
}

/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-top-1665734735 svg {
		width: calc(124% + 1.3px);
        height: 154px;
    }
}

.my-container img, svg	{
	width: 16%;
	transform: rotate(25deg);
	position: absolute;
	right: 22%;
}
.my-container button{
	margin: 3% 3%;
}
.nav-brand{
	color: #fff;
	font-size: 2rem;
	font-weight: inherit;
	font-family: "Ubuntu", sans-serif;
}
.nav-brand:hover{
	transform: scale(1.2);
	transform: translate(2px, 2px);
}

.nav-items {
	transition: all .4s ease-in-out;
	color: #EDE4E0 !important;
	font-size: 1.1rem;
	font-weight: inherit;
	padding: 0 20px;

} 
.nav-items:hover{
	transform: scale(1.2);
	transform: translate(2px, 2px);
}

/* features section starts here */
#features{
	position: relative;
	background-image: linear-gradient(to top, #EDE4E0, white);
	z-index: 2;
	padding: 15% 7%;
}
.my-col{
	padding: 2rem;
	text-align: center;
}

.s-icons{
	font-size: 3.2rem;
	color: #ef8172;
	
}
.s-icons:hover{
	color: #fe1f73;

}

/* testimonials section starts here  */
#testimonials{
	color: #fff;
	background-image: linear-gradient(to left,  #ff6653 , #fe1c74);
	text-align: center;
}
.co-class{
	padding: 7% 15%;
}
#testimonials h1, h2,h3{
	font-family: 'Montserrat-Black', sans-serif;
	line-height: 1.5;
	font-weight: bold;
	font-size: 3 rem;
}
#testimonials img{
	margin: 20px;
	width: 17%;
	border-radius: 100%;
}


/* section press starts here */
#press{
	padding-bottom: 15%;
	background-image: linear-gradient(to left,  #ff6653 , #fe1c74);
	text-align: center;
}	
#press img{
	width: 15%;
	margin: 10px;
}
/* 
pricing section starts here */
#pricing{
	text-align: center;
	padding: 4.5rem 4rem;
	color: black;
	background-image: linear-gradient(to top, #EDE4E0, white);
}
#pricing h1{
	font-family: 'Montserrat-Black', sans-serif;
	line-height: 1.5;
	font-weight: bold;
	font-size: 2.5 rem;
	color: #000;
}
#pricing p{
	font-family: 'Montserrat-Black', sans-serif;
	line-height: 1.5;;
	font-size: 1.5 rem;
	color: #000;
	
    
}
.my-card{
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.3) !important;
	border-radius: 5px;
	font-family: sans-serif;
 	text-align: center;
  	line-height: 1;
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
}
.card-texts{
	text-align: center;
}
.whole-deck{
	padding-top: 3%;
}
.pricing-card{
	backdrop-filter: grayscale(0.5) opacity(0.8) 

}

/* cta section */
#cta{
	padding: 7rem 5rem ;
	text-align: center;
	background-image: linear-gradient(to left,  #ff6653 , #fe1c74);
}
#cta a{
	text-decoration: none;

}
#cta button{
	margin : 0.5rem;
}
/* footer section */
#footer{
	
	margin-bottom: 0;
	background-image: linear-gradient(to top, #EDE4E0, white);
	text-align: center;
	padding: 4rem;
}
#footer p{
	margin: 0.4rem;
	font-family: 'Montserrat-Black', sans-serif;
	line-height: 1.5;
	font-size: 1 rem;
	color: grey;
}
#footer a{
	text-decoration: none;
	color: #ff6155;
	height: 3rem;
}
#footer a:hover{
	color: #fe1f73;
}