@import bootstrap
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
h1{
	 font-family: 'Montserrat-Black, sans-serif';  
	 font-size: 3rem; 
	  line-height: 1.5; 
	  font-weight: 900;
}
#title{
	background-color: #ef2c60;
}
.my-container{
	padding: 3% 15% ;
}